# Kernel config options required for RAUC's HTTP streaming-directly-to-
# disk functionality. This functionality also requires the use of
# verity format update bundles, which require additional kernel config
# options.
CONFIG_BLK_DEV_NBD=y
